.form {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}
label input,
label textarea {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  min-height: 32px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: rebeccapurple;
  color: #fff;
  border-color: rebeccapurple;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

h3 {
  text-align: center;
}

body {
  background-color: #ececec;
}

.success {
  background-color: green;
  color: #fff;
  padding: 16px;
  text-align: center;
}

.error {
  background-color: red;
  color: #fff;
  padding: 16px;
  text-align: center;
}
